/* STANDARDNI ELEMENTI */

.logo{
    color: white;
	font-family: $logo-font;
    font-size: 2.25em;
    font-weight: $normal;
}

p{
	font-size: 15px;
}

select,
option{
    cursor: pointer;
}


.floatRight{
	float: right;
}

.floatLeft{
	float: left;
}

.spaceBottom{
	margin-bottom: 30px;
}

.pointer{
	cursor: pointer;
}
